{% extends "../carWebsiteApp/layout.html" %}


{% block title %}
    <title>История BMW</title>
{% endblock %}


{% block main %}
    {% load static %}
    <div id="pk">{{ urls.last_url_element }}</div>

    <div class="container text-center">
        <p class="display-6">История бренда BMW: как всё начиналось</p>
        <p>Немецкие автомобили пользуются высоким спросом благодаря надежности и функциональности. Одной из самых
            популярных является марка BMW, модели которой давно стали символом роскоши и спортивного стиля. Сейчас
            баварская компания представляет гигантский концерн с множеством автомобильных заводов не только в Германии,
            но и в других странах мира: от США до Египта. Производятся BMW и в России — их сборкой занимается
            калининградское предприятие «Автотор». Эта статья посвящена истории создания и развития BMW, которая
            насчитывает свыше 100 лет и, безусловно, будет интересна настоящим поклонникам бренда.</p>
    </div>

    <div class="row mt-5">
        <h3>Как создавалась компания</h3>
        <hr>
        <p>История BMW начиналась в баварском Мюнхене, где в 1913 году немецкие промышленники Рапп и Отто открыли
            два небольших предприятия. Новые фирмы занимались производством авиационных моторов, и их руководители
            вскоре приняли решение объединиться, чтобы вместе выдержать жесткую рыночную конкуренцию. Совместная
            компания получила название Bayerische Flugzeugwerke — «Баварские авиационные заводы».</p>
    </div>

    <div class="row mt-5">
        <h3>Зигзаг судьбы</h3>
        <hr>
        <p>Осенью 1917 года была создана эмблема БМВ, которая осталась неизменной до настоящего времени: круг,
            разделенный на четыре части (две белых и две голубых). Эти цвета считаются традиционно баварскими.
            Долгое время считалось, что рисунок символизировал пропеллер самолета на фоне ясного неба.
            Скорее всего, компания пошла бы по изначально определенному пути, занимаясь созданием авиамоторов, и
            автомобилисты никогда не узнали даже ее названия. Но история распорядилась иначе. После капитуляции
            Германии в Первой мировой войне правительство страны подписало Версальский договор, одним из пунктов
            которого стал запрет на производство самолетов.
            Чтобы сохранить фирму, основатели перепрофилировали производство и несколько изменили название: слово
            Flugzeug («авиационные») уступило место Motorische («моторные»), а аббревиатура приобрела современный
            вид, хорошо известный поклонникам.</p>
    </div>

    <div class="row mt-5">
        <h3>Мотоциклы BMW</h3>
        <hr>
        <p>После перестройки производства компания BMW некоторое время занималась выпуском тормозов для железнодорожного
            транспорта. В 1923 году предприятие переключилось на мотоциклы, да так успешно, что в считаные месяцы обрело
            мировую известность. Надежность и скоростные качества баварской мотоциклетной техники снискали ей славу
            среди гонщиков.
            В 1928 году, после покупки заводов в Тюрингии, руководство сделало основной сферой деятельности
            автомобильное производство, но выпуск мотоциклов не прекратился и по сей день. Спортивные модели очень
            популярны и нередко встречаются на дорогах разных стран.</p>
    </div>

    <div class="row mt-5">
        <h3>Малолитражки BMW</h3>
        <hr>
        <div class="col-md-8">
            <p>Первый автомобиль BMW сошел с конвейера в 1929 году — это была малолитражная модель, выпускавшаяся по
                лицензии британской Austin Motor Company. BMW Dixi 3/15 PS был похож на английский Austin 7, чрезвычайно
                популярным в европейских странах. Автомобиль оснащался 20-сильным мотором и мог развить скорость до 80
                км/ч.
                На этом немецкие производители не остановились: весной 1932 года широкой публике была представлена
                уникальная модель собственной разработки. Автомобилисты по достоинству оценили новинку: с тех пор и до
                нашего времени знак BMW ассоциируется с безупречным качеством. </p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static img_array.0.img %}" width="300px">
        </div>
    </div>

    <div class="row mt-5">
        <h3>Характерные детали</h3>
        <hr>
        <div class="col-md-4 text-center">
            <img src="{% static img_array.1.img %}" width="300px">
        </div>
        <div class="col-md-8">
            <p>Несмотря на известность, в начале 1930-х годов автомобили BMW не были узнаваемыми с первого взгляда.
                Характерная черта баварского бренда — двойная решетка радиатора — впервые появилась на БМВ 303,
                выпускавшемся с 1933 года.
                Окончательно концепция баварского бренда — «Автомобиль — для водителя» — была сформулирована с
                появлением модели BMW 328, ставшего прорывом в области спорткаров.</p>
        </div>
    </div>

    <div class="row mt-5">
        <h3>Вторая мировая и послевоенные годы</h3>
        <hr>
        <p>BMW перед началом Второй мировой войны являлась известнейшей компанией, специализирующейся на выпуске
            спортивных мотоциклов и автомобилей. Со своими двигателями баварские модели ставили рекорды, оставляя
            конкурентов далеко позади. По понятным причинам с 1940 по 1945 год количество международных авто- и
            мотогонок заметно снижается.

            Поражение Германии, как и в Первую мировую войну, нанесло компании серьезный удар. Ее экономическое
            положение было подорвано, многие проекты пришлось закрыть. В этой ситуации Карл Рапп делает упор на
            производство велосипедов, а также легких мотоциклов, условия сборки которых близки к кустарным.

            Первым шагом к выходу из кризиса стала разработка BMW 501. Автомобиль не смог стать успешным, но
            последующая модель 502, оснащенная силовым агрегатом из алюминиевого сплава, получила невероятную
            популярность благодаря ряду качеств: </p>

        <div class="mx-2">
            <ol>
                <li>вместительность;</li>
                <li>маневренность;</li>
                <li>высокая для своего времени технологичность.</li>
            </ol>
        </div>
        <p>
            Учитывая доступную для среднестатистического германского покупателя стоимость, автомобили пользовались
            высоким спросом, что позволило заняться развитием производства.</p>
    </div>

    <div class="row mt-5">
        <h3>Через терни - к звездам</h3>
        <hr>
        <p>В 1955 г. компания наладила выпуск малолитражных моделей «Исетта» — трехколесного гибрида автомобиля и
            мотоцикла. Низкая цена «Исетты» для страны, разоренной войной, стала ключевым фактором ее популярности.
            Однако экономика Германии быстро росла, и интерес публики переключился на крупные автомобили. BMW вновь
            оказался в серьезном кризисе: основной конкурент Mercedes-Benz начал готовиться к выкупу компании.

            Сдаваться баварцы не собирались. В 1956 г. дизайнер компании Гертц разработал спорткар BMW 507, который
            предлагался в двух вариантах: </p>

        <div class="mx-2">
            <ul>
                <li>со стандартной жесткой крышей;</li>
                <li>родстер.</li>
            </ul>
        </div>

        <p>Оснащенная 8-цилиндровым мотором мощностью до 150 л. с., модель развивала скорость до 220 км/ч.
            Разработка
            имела потрясающий успех, позволивший фирме преодолеть кризис и успешно продолжить свою деятельность. С
            этого
            момента история марки развивается семимильными шагами, сопровождающимися фееричными успехами. А BMW 507
            сейчас входит в число самых дорогих коллекционных автомобилей.</p>
    </div>

    <div class="row mt-5">
        <h3>Новые разработки</h3>
        <hr>
        <p>Очередным крупным успехом баварского концерна стала BMW 700, в которой впервые была реализована система
            воздушного охлаждения. Начало шестидесятых годов стало для компании наиболее удачным временем за всю прежнюю
            историю: </p>

        <div class="mx-2">
            <ul>
                <li>1962 год — выпуск модели 1500, объединившей черты спортивного и компактного классов. Спрос на нее
                    значительно превысил производственные мощности предприятия: рабочие попросту не успевали собирать
                    новые
                    автомобили для поставки на рынок.
                </li>
                <li>1966 год — выпуск серии автомобилей с турбонаддувом, также увенчавшийся успехом.</li>
                <li>1968 год — презентация широкой публике первых седанов БМВ (2500 и 2800).</li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <h3>Развитие производства в 1970-е и 1980-е</h3>
        <hr>
        <p>Середина 1972 года ознаменовалась в Мюнхене сразу двумя событиями — Олимпийскими играми и разработкой 5 серии
            BMW. Прежде специализировавшийся на спорткарах бренд доказал, что седаны ему удаются не хуже.

            Новые автомобили, представленные на Франкфуртском автосалоне, произвели впечатление на публику: они
            отличались вытянутыми линиями кузовной части, крупными боковыми окнами и малым дорожным просветом. Внешность
            новых БМВ была создана разработчиками компании с помощью компьютерных технологий. Историю пятерки продолжил
            BMW 525 — комфортный бизнес-седан, оснащенный 6-цилиндровым мотором, развивавшим до 145 л. с.

            В 1975 году стартовала третья линейка, в которой были представлены спортивные компактные седаны. BMW 3 серии
            комплектовались новейшими 4-цилиндровыми моторами. Через год эта модель была признана специалистами лучшей в
            мире.

            Большая работа была проделана компанией в 1977 году. С конвейера сошло первое поколение БМВ 7 серии,
            оснащенное 6-цилиндровым ДВС с системой впрыска. В течение двух лет было реализовано свыше 75 000 таких
            моделей. Кроме того, получили обновления 3 и 5 серия.

            В 1985 году публике был представлен кабриолет БМВ с подвеской, который позволял с комфортом покорять большие
            расстояния. В конце 1980-х баварский концерн запустил в производство еще пять моделей, четыре из которых
            оснащались бензомоторами и системой электронного впрыска, а одна — дизельным двигателем. </p>
    </div>

    <div class="row mt-5">
        <h3>1990-e</h3>
        <hr>
        <p>В 1990 году баварцы представили обновленную модель 3 серии, которая подкупила поклонников бренда
            технологичностью и элегантным внешним видом.

            В 1992 году с конвейера сошли новые купе BMW, на которых были установлены улучшенные 6-цилиндровые силовые
            агрегаты. Спустя несколько месяцев компания запустила производство спорткаров М3, а также новых кабриолетов.
            Стоит отметить, что каждая новая модель получала уникальные детали. Уже тогда автомобили БМВ отличались
            превосходным для своего времени оснащением:</p>

        <div class="mx-2">
            <ol>
                <li>климат-контроль;</li>
                <li>электроподъемники боковых стекол:</li>
                <li>гидроусилитель руля;</li>
                <li>бортовой компьютер;</li>
                <li>электрическое управление зеркалами заднего вида;</li>
                <li>круиз-контроль и т. д.</li>
            </ol>
        </div>
        <p>В 1995 году был существенно изменен дизайн моделей 5 серии. Обновленная пятерка получила сдвоенную головную
            оптику, защищенную прозрачными колпаками, и еще более комфортный, просторный салон.

            1997 год ознаменовался выпуском BMW 5 серии Touring. Модель была оснащена мультифункциональным рулевым
            колесом, активными креслами, навигационной системой и механизмом динамической стабилизации. Через год в
            модельном ряду появились дизельные автомобили с 6- и 8-цилиндровыми моторами. Желающие могли заказать такие
            автомобили в удлиненном кузове.

            В конце десятилетия концерн вновь столкнулся с ситуацией, когда производственных мощностей не хватало для
            удовлетворения растущего спроса. Это произошло после появления родстера BMW Z3 в одном из фильмов саги о
            Джеймсе Бонде. Кроме того, в 1999 году началась история баварских внедорожников, когда с конвейера сошел
            спортивный кроссовер БМВ Х5.</p>
    </div>

    <div class="row mt-5">
        <h3>XXI век</h3>
        <hr>
        <div class="col-md-8">
            <p>Не сбавила компания темпов и в новом тысячелетии. Начало века ознаменовалось беспрецедентным ростом
                продаж: только в России этот показатель составил 83%. Было выпущено новое поколение 7 серии, которому
                многие эксперты отдали первую строчку в рейтинге автомобилей класса люкс.

                В настоящее время баварский концерн продолжает работу над улучшением своих моделей и созданием
                технологических новинок, которых нет у других брендов. «Автомобиль для водителя»: озвученный десятилетия
                назад принцип остается основным ориентиром для инженеров и дизайнеров BMW. Покупатели оценивают такой
                подход по достоинству — каждая новая модель становится хитом продаж. А регулярное появление автомобилей
                бренда в фильмах и популярных компьютерных играх позволяет привлекать новых и новых поклонников.</p>
        </div>
        <div class="col-md-4 text-center">
            <img src="{% static img_array.2.img %}" width="300px">
        </div>
    </div>


    {#    <h5 class="card-title text-center">История BMW</h5>#}
    {#    <p class="card-text">История BMW</p>#}
{% endblock %}