{% extends "../carWebsiteApp/layout.html" %}


{% block title %}
    <title>Главная</title>
{% endblock %}


{% block main %}
    {% load static %}
    <div id="pk">{{ urls.last_url_element }}</div>
    <div class="container">
        <p class="display-6 text-center">Главная - История немецких автомобилей</p>

        <div class="row mt-5">
            <h3>«Отцы автомобилестроения» Германии</h3>
            <hr>
            {#        <img src="{{ img }}">#}
            <div class="col-md-4 text-center">
                <img src="{% static img_array.0.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>Считается, что Родиной автомобилей является Германия. Независимо друг от друга немецкие
                    инженерыАвтомобиль
                    Даймлера и Бенца Даймлер и Бенц изобрели и запатентовали в 1886 году автомобили с бензиновыми ДВС.
                    Справедливости ради необходимо отметить, что появление автомобиля было бы невозможным без предыдущих
                    изобретений и открытий, которые были сделаны великими умами человечества в разное время и в разных
                    частях
                    света. Как бы там ни было, именно 18 век стал решающим для появления автомобилей.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Карл Бенц история создания автомобиля</h3>
            <hr>
            <div class="col-md-8">
                <p>Свой первый автомобиль Motorwagen («Моторная тележка») Бенц создал в 1885 году. Несмотря
                    на внешнюю примитивность, это был первый трехколесный экипаж с бензиновым ДВС и рулевым управлением.
                    Рабочий объем одноцилиндрового двигателя мощностью 0,9 л.с. составлял 954 куб.см, максимальная
                    скорость экипажа — 16 км/ч. Если изначально автомобиль не получил признания в Германии, то на
                    выставке в Париже изобретение оценили по достоинству. Жена Бенца в свою очередь тоже провела своего
                    рода рекламную компанию, преодолев на автомобиле расстояние от Мангейма до Пфорцгейм и обратно.
                </p>
                <p>
                    Благодаря незапланированному автопробегу в 106 км Берта Бенц сумела
                    продемонстрировать миру, что изобретение ее мужа является довольно надежным и быстрым транспортным
                    средством. За период с 1886 по 1893 г.г. предприятие Бенца продало 25 моделей Motorwagen. Продолжая
                    совершенствовать свои машины, Бенц сконструировал в 1893 году четырехколесный автомобиль Victoria,
                    мощность двигателя которого уже равнялась 3 л.с., а скорость — до 20 км/ч. В течение года было
                    реализовано 45 автомобилей. Через год появилась новая модель автомобиля Velo, на котором прошли
                    первые автогонки Париж — Руан. Этот автомобиль явился предшественником автомобиля Comfortable,
                    получившим позже широкое распространение. В 1885 году Бенц стал основателем первой автомобильной
                    компании и наладил серийный выпуск автомобилей. В начале XX века компания Benz I Со оказалась в
                    тяжелом финансовом положении, в результате чего Бенц покинул предприятие (1903). Лишь в 1905 году
                    уже с новым конструктором Гансом Нибелем фирма вновь добилась успеха.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{% static img_array.1.img %}" width="300px">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Автомобиль Майбаха и Мерседеса</h3>
            <hr>
            <div class="col-md-4 text-center">
                <img src="{% static img_array.2.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>В 1899 году Майбах сконструировал Рhоеnix-Daimler, но из-за технических проблем работы были
                    приостановлены. Однако Э.Еллинек сумел переубедить Майбаха и в 1901 году миру был представлен
                    автомобиль Mercedes-35Р5, ставший основой для выпущенных в дальнейшем самых удачных автомобилей в
                    истории компании DMG. MercedesИзобретатель назвал свое изобретение в честь дочери Еллинека.
                    Автомобиль имел 4-х-цилиндровый двигатель (5913 см куб) и задние ведущие колеса. Несмотря на
                    конкуренцию, существовавшую между обоими изобретателями, финансовый кризис в Германии способствовал
                    тому, что в 1926 году компании DMG и Benz & Cie были вынуждены объединиться. Изначально концерн был
                    назван Daimler-Benz AG, позже — Mercedes-Benz. Логотипом компании являлась трехконечная звезда
                    Даймлера, в окружении лавровой ветки, позаимствованной с эмблемы Бенца. Основатель
                    автомобилестроения Карл Бенц скончался в 1929 году. К этому времени автомобиль Мерседес с двигателем
                    в 35 л.с, радиатором, механическим приводом и кузовом приобретает все большую популярность.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Главные конструкторы концерна</h3>
            <hr>
            <div class="col-md-8">
                <p>Первоначально главным конструктором концерна был Ф.Порше, взявший за основу будущих автомобилей
                    Мерседесы. Концерн начал выпуск машин марки Mercedes-Benz. Вскоре Порше покинул компанию, место
                    ведущего конструктора занял Ганс Нибель, при котором были выпущены Mannheim-370,Mercedes-Benz-770
                    Mercedes-Benz-770, Nurburg-500. В 1935 году Г.Нибеля сменил Макс Заллер. Заслугой нового
                    конструктора стал недорогой автомобиль 170V и автомобиль, впервые оснащенный дизельным двигателем,
                    260D. Все трое ведущих конструкторов способствовали тому, что концерн начал завоевывать рынок, а
                    Mercedes-Benz приобретают все большую популярность. После войны Daimler-Benz AG стала крупнейшим
                    производителем страны. В 1953 г. концерн выпустил Mercedes-Benz 180, чуть позже — 220 и 300 серии.
                    Параллельно конструкторы компании занимаются разработкой и спортивных машин. В 1951 г. выпущен
                    Mercedes-Benz 300S, в 1954 г. — Mercedes-Benz 300SL и Mercedes-Benz 190SL.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{% static img_array.3.img %}" width="300px">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Автомобиль Фердинанда Порше</h3>
            <hr>
            <div class="col-md-4 text-center">
                <img src="{% static img_array.4.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>После того, как Фердинанд Порше оставил Daimler-Benz AG, он создал знаменитую компанию Dr. Ing. h.c.
                    F. Porsche AG. Вскоре (1933 г). им была создана модель 32, которая легла в основу первого Porsche
                    Carrera 2автомобиля Volkswagen Beetle. Под его руководством в 1938 году в Вольфсбурге появилась
                    первая линия сборки Volkswagen. В 1948 году на основе Volkswagen сын Порше создал первый автомобиль
                    Porsche с мощностью двигателя 50 л.с., скоростью — до 160 км/ч. Летом 1948 года был выпущен первый
                    серийный Porsche 356, мощность двигателя которого равнялась 35 л.с., объем двигателя — 1,1 л, позже
                    появляются новые более мощные его модификации. Porsche Carrera 2 с двигателем объемом 2 л, мощностью
                    130 л.с. стал основой для создания особенного оригинального дизайна Porsche.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>История BMW</h3>
            <hr>
            <div class="col-md-8">
                <p>В число первых создателей автомобилей в Германии входит и Генрих Эрхардт. В 1904 году он начал
                    производить автомобили Dixi, которые были копиями английские Austin Seven.BMW 303 Со временем он
                    решил конструировать собственные машины. Именно с появления в 1927 г. собственного автомобиля Dixi
                    3/15 PS начинается история BMW. Второй собственный автомобиль (BMW Wartburg) компания выпустила в
                    1930 г. До войны компанией были разработаны еще 3 автомобиля: BMW 303, BMW 326 Cabriolet, родстер
                    BMW 328. После войны компания приступила к выпуску автомобилей лишь в 50-е годы. Из-за дорогого
                    производства первые послевоенные модели (BMW 501, 502, 503) не имели успеха. Успех компании принесла
                    малолитражка BMW Isetta 250 и ее более мощная модель BMW Isetta 300.</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{% static img_array.5.img %}" width="300px">
            </div>
        </div>
    </div>
{% endblock %}