{% extends "../carWebsiteApp/layout.html" %}


{% block title %}
    <title>История Mercedes</title>
{% endblock %}


{% block main %}
    {% load static %}
    <div id="pk">{{ urls.last_url_element }}</div>

    <div class="container">
        <div class="container text-center">
            <p class="display-6">История Мерседес Бенц</p>
            <p>История Мерседес насыщена яркими событиями и тесно связана с развитием всего мирового автомобилестроения.
                Во всех уголках земли привыкли к тому, что под этим узнаваемым брендом выпускается только
                высококачественная и элитная транспортная продукция. По итогам 2017 года Мерседес- Бенц возглавляет
                рейтинг самых дорогостоящих брендов Европы. Эксперты американского журнала Fortune оценили его в 43,9
                млрд. $. Этот показатель самый высокий среди мировых автоп</p>
        </div>

        <div class="row mt-5">
            <h3>Бенц</h3>
            <hr>
            <div class="text-center">
                <img src="{% static img_array.0.img %}" width="300px">
            </div>
            <div class="mt-4">
                <p>Богатая на события, история создания компании Mercedes Benz начинается с далекого 1883 года, когда
                    39-летним Карлом Бенцем, инженером из Мангейма (Германия) была зарегистрирована фирма Benz &
                    Cie.t</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Первый автомобиль</h3>
            <hr>
            <div class="text-center">
                <img src="{% static img_array.1.img %}">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Benz Blitzen 1909 г</h3>
            <hr>
            <div class="col-md-8">
                <p>Фирма занималась производством двигателей, различных автомобилей, построила завод для изготовления
                    грузовиков. Её продукция продавалась за рубеж. В стенах компании была изготовлена в 1909 году лучшая
                    гоночная машина в Германии – «Блитцен Бенц». Война приостановила развитие предприятия. По её
                    окончанию фирма возобновила производство различных видов транспорта, став снова одной из ведущих в
                    стране. До слияния фирмой «Бенц и Ко.» было произведено около 48 тысяч транспортных средств.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.2.img %}" width="300px">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Эволюция логотипа</h3>
            <hr>
            <div class="col-md-8">
                <p>Логотип также родился на основе объединения символов двух компаний. У Benz & Cie эмблема была в виде
                    лаврового венка, окружающего имя Бенц. Происхождение трехлучевой звезды DMG имеет разные версии. По
                    одной из них, чтобы прекратить спор Еллинека, Майбаха и Даймлера о будущей эмблеме, Мерседес – дочь
                    первого, попросила их не ругаться и скрестить свои трости. Образовавшийся символ – трехлучевая
                    звезда всем понравилась и была утверждена логотипом фирмы. Более правдоподобно выглядит утверждение
                    о том, что трехконечная звезда была выбрана как символ устремления фирмы выпускать свою продукцию
                    для использования на земле, в небесах и на море. Достоверно известно, что в 1909 г. компанией DMG
                    оформлены в качестве торгового знака четырёх- и трёхлучевые звёзды, но использовалось только
                    последняя. История логотипа Мерседес завершилась тем, что по результатам объединения двух фирм к
                    трехконечной звезде добавили лавровый венок, вверху надпись Mercedes и имя Benz снизу. В последующем
                    венок заменили стильным кольцом.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.3.img %}" width="300px">
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.4.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>Также существует другая и более распространенная версия возникновения эмблемы. Три луча — это имена
                    трех людей: Вильгельм Майбах (великий конструктор), Эмиль Еллинек и его дочь Мерседес. «Король
                    автоконструкторов» Майбах был одним из первых, кто начал применять транспортные двигатели
                    внутреннего сгорания. Консул Австрии Еллинек вкладывал очень много средств и сил, чтобы сделать
                    двигатели для машин намного мощнее, а предприятие, на котором они производились, более
                    преуспевающим. Именем для автомобиля «пожертвовала» дочь консула — Мерседес. Первый вариант
                    возникновения эмблемы Мерседеса более правдоподобен и органичен, чем второй. Но есть еще одна
                    история, которую приписывают возникновению трехлучевой звезды. Бытует мнение, что в круг вписана
                    женская фигура с широко расставленными ногами и высоко поднятыми над головой руками. Такая символика
                    перекликается с древними временами, когда на носах кораблей были вырезаны женские головы или фигуры.
                    Этот символ считался хранителем корабля. Так и на Мерседесе богиня защищает автомобиль в жестоких
                    асфальтовых джунглях. По данным рейтинга консалтингового агентства InterBrand бренд Mercedes
                    занимает 11-е место в мире. Также эта марка автомобиля является самой дорогостоящей в Германии.
                    Бренд Мерседеса создавался на протяжении более ста лет. Осознанно или бессознательно, создатели
                    бренда наполняли его определенным смыслом, который закрепился навсегда. Ассоциации, которые вызывает
                    этот автомобиль, неизменны: качество, консерватизм, надежность, престиж и безопасность.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Военный период</h3>
            <hr>
            <div class="col-md-8">
                <p>В военное время концерн производил для армии грузовики, танки, различную военную технику. В 1944 г.
                    его заводы были разрушены бомбардировками американских и английских ВВС. В 1945 году были подведены
                    итоги и оценены суммарные разрушения, совет директоров пришел к выводу, что физически компании
                    больше не существует.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.5.img %}" width="300px">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Послевоенный период</h3>
            <hr>
            <div>
                <p>На послевоенное восстановление разрушенных заводов потребовалось время, поэтому автомобильное
                    производство было начато только в июне 1946 года. Для разработки новых автомобилей не было ни
                    технической базы, ни средств, поэтому первым послевоенным автомобилем стал седан W136 — «170V». Хотя
                    конструкция была разработана ещё в середине 1930-х годов, малолитражный автомобиль с мотором всего
                    38 лошадиных сил стал началом новой истории марки. Уже с мая 1949 года была проведена крупная
                    модернизация. Рабочий объём двигателя увеличен на 70 см³, (соответственно мощность выросла до 52 л.
                    с.; модель «170S»), появились варианты в кузовах кабриолет и универсал (т. н. кабриолеты «А» и «B»)
                    и главное — модели с дизельными двигателями «170D».

                    К началу 1950-х годов концерн Daimler-Benz строил крупные планы на будущее, однако запуск нового
                    поколения автомобилей требовал дальнейшего развития производственной базы. Поэтому в начале 1950-х
                    годов, несмотря на появление новой роскошной серии «300», продолжался выпуск моделей с морально
                    устаревшей конструкцией. Продолжалась постоянная модернизация и запуск новых моделей. Так в январе
                    1952 года появилась модель с увеличенным кузовом, которая получила номер W191[en][23]. Но ещё до
                    этого, в марте 1951 года, на автомобиль поставили шестицилиндровый двигатель с мощностью 80 л. с.
                    вместо 4-х цилиндрового. Вместе с новым дизайном экстерьера (например, расположение передних фонарей
                    в крылья) автомобиль W187[en] получил новое имя «220» и занял средний сегмент между «170»-ми и
                    «300»-ми. Он предлагался в трёх кузовах (седан и кабриолеты «А» и «B»).

                    Всего за девять лет (выпуск завершился в сентябре 1955 года) построено соответственно 151 042 и 18
                    514 автомобилей «170» и «220». Благодаря им компания смогла создать прочный фундамент, на котором
                    она станет ведущим автомобильным производителем в Западной Европе.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Таблица моделей</h3>
            <hr>
            <div>
                <table class="table table-sm table-bordered">
                    <caption>Модели серий «300» и «300S»</caption>
                    <thead>
                    <tr>
                        <th scope="col">Кабриолет D W186 «300»</th>
                        <th scope="col">Купе W188 «300S»</th>
                        <th scope="col">Родстер W188 «300S»</th>
                        <th scope="col">Кабриолет А W188 «300Sс»</th>
                        <th scope="col">Седан W189 «300d»</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><img src="{% static mercs_300_img_array.0.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static mercs_300_img_array.1.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static mercs_300_img_array.2.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static mercs_300_img_array.3.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static mercs_300_img_array.4.img %}" height="150px"></td>
                    </tr>
                    </tbody>
                </table>

                <table class="table table-sm table-bordered">
                    <caption>Семья W123</caption>
                    <thead>
                    <tr>
                        <th scope="col">W123 (1975—1985)</th>
                        <th scope="col">S123 (1976—1985)</th>
                        <th scope="col">C123 (1977—1985)</th>
                        <th scope="col">V123 (1977—1985)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="text-center"><img src="{% static merc_w123_img_array.0.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static merc_w123_img_array.1.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static merc_w123_img_array.2.img %}" height="150px"></td>
                        <td class="text-center"><img src="{% static merc_w123_img_array.3.img %}" height="150px"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    {#    <h5 class="card-title text-center">История BMW</h5>#}
    {#    <p class="card-text">История BMW</p>#}
{% endblock %}