{% extends "../carWebsiteApp/layout.html" %}


{% block title %}
    <title>История Volkswagen</title>
{% endblock %}


{% block main %}
    {% load static %}
    <div id="pk">{{ urls.last_url_element }}</div>

    <div class="container">
        <div class="container text-center">
            <p class="display-6">История создания Фольксвагена</p>
            <p>Автомобиль, который в переводе означает «народный», «машина для народа» – сегодня очень популярная марка.
                А начиналось всё в далёком 1933-м г. Попробуем разобраться, как родился знаменитый Фольксваген, и почему
                одноименный концерн выпускает не только эти машины.</p>
        </div>

        <div class="row mt-5">
            <h3>Концерн «Фольксваген»: начало</h3>
            <hr>
            <p>Ещё в Веймарской Республике идея народного автомобиля была главенствующей. Выражались самые разные точки
                зрения, много было и сомнений, нужен ли Германии новый автомобиль в принципе. Высказывалась одна
                категоричная идея: а стоит ли ещё изобретать какой-то там «мотомобиль», если уже есть мотоциклы, которые
                и являются наиболее демократичным транспортным средством. Помешала воплощению этой идеи Первая мировая
                война, потом политические передряги, в дальнейшем наступил кризис, но мечта продолжала существовать. В
                1930 г. на одной из автомобильных выставок в Берлине прототип народного автомобиля предлагался в
                качестве своеобразного аттракциона. </p>
            <p>
                В 1933 г. к власти в Германии пришли нацисты, а Гитлер стал канцлером. Осенью того же года в одном из
                залов отеля «Кайзерхоф» в Берлине состоялась встреча Гитлера, Якоба Верлина, представителя корпорации
                «Daimler-Benz», и Фердинанда Порше. Гитлер выдвинул требование: создать для немецкого народа крепкий и
                надёжный автомобиль стоимостью не более 1000 рейхсмарок. Собирать данный автомобиль следует на новом,
                олицетворяющем новую Германию заводе. На листке бумаги он набросал эскиз, обозначил основные пункты
                программы и попросил назвать имя конструктора, кто будет нести ответственность за исполнение
                правительственного заказа. Якоб Верлин предложил кандидатуру Фердинанда Порше. Последний и стал
                воплощать мечту о народном автомобиле в реальность.</p>
        </div>

        <div class="row mt-5">
            <h3>Первые модели</h3>
            <hr>
            <div class="col-md-8">
                <p>Самая первая вариация немецкого народного автомобиля из-за своеобразной формы получила прозвище
                    «жук».
                    Чертежи жука как прототипа фольксвагена Фердинанд Порше переслал в Рейхсканцелярию Германии уже 17
                    января 1934 г. Жук был создан на базе разработанного ранее Porsche Typ 60, а ещё через полгода, в
                    июне,
                    был подписан контракт между RDA или «Германской Автомобильной Ассоциацией», и «Dr. Ing. h.c. F.
                    Porsche
                    GmbH» – компанией Фердинанда Порше, на разработку трёх прототипов фольксвагена. При этом на всю
                    деятельность проектировщиков было отведено только 10 месяцев и 200 тысяч рейхсмарок. Машина должна
                    была
                    иметь пять посадочных мест, стоить не более 1550 рейхсмарок, разгоняться до 100 км/ч и иметь расход
                    топлива 8 литров на 100 км. Мощность первого прототипа была 26 лошадиных сил.
                    Два следующих года напряжённого труда проектировщиков и конструкторов привели к появлению
                    двухдверного
                    первого варианта фольксвагена (или V1), кабриолета (V2) и машины с четырьмя дверьми (V3). После
                    этого
                    начались испытания. Почти 50 тысяч километров, которые проехали прототипы народного авто,
                    существенных
                    замечаний не вызвали, поскольку недочётов не выявили. Завод Daimler-Benz получил заказ на следующие
                    30
                    прототипов. </p>

                <p>
                    В 1936 г. был в районе реки Неккар, в городе Ульм на юго-западе Германии был построен первый завод,
                    впоследствии были пущены ещё несколько автомобильных заводов. Так, 26 мая 1938 г. был заложен первый
                    камень на строительстве завода Volkswagen рядом с городком Фаллерслебен. В этом же году было начато
                    строительство городка для проживания работающих на заводе Volkswagen – Вольфсбурга.

                    После окончания Второй мировой войны предприятие попало под контроль англичан, в чьей зоне оккупации
                    находился Вольфсбург. Осенью 1945 г. британские власти передали заводу заказ на 20 тысяч
                    автомобилей. Но
                    только почти через десять лет началось серийное производство автомобиля в его первоначальной
                    модификации.

                    В 1947 г. Volkswagen был выставлен на экспортной ярмарке в Ганновере и привлек к себе большое
                    внимание.
                    Завод получил первый зарубежный заказ из Голландии на тысячу автомобилей, а в 1948 г. стали
                    поступать
                    заказы из Швейцарии, Бельгии, Швеции и других стран.

                    В январе 1948 г. сменилось руководство Volkswagen, его генеральным директором стал Генрих Нордхофф,
                    представитель нового поколения немецких технократов. Обновлённое руководство состояло из
                    дипломированных
                    инженеров, обладавших международным опытом работы на автозаводах и умевших нестандартно мыслить.
                    Модернизация и усовершенствование автомобиля стали происходить быстрее.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.0.img %}" width="300px">
            </div>
        </div>

        <div class="row mt-5">
            <h3>Концерн «Фольксваген»: начало</h3>
            <hr>
            <div class="col-md-4">
                <img src="{% static img_array.1.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>
                    Внутренний рынок Германии нуждался в автомобилях. Спрос на них становился тем острее, чем быстрее
                    возрождалась немецкая экономика. Поэтому 30 июня 1949 г. была образована компания
                    «Volkswagen-Finanzierungs-Gesellschaft GmbH». Её основной задачей было увеличение продаж автомашин
                    немецким гражданам. Появились две новых модели фольксвагена – лимузин и кабриолет. Салоны машин
                    стали комфортабельнее, а двигатель авто был частично синхронизирован. Постепенно росла сеть станций
                    технического обслуживания автомобилей – автосервис интенсивно развивался. Рос не только внутренний,
                    но и экспортный сбыт фольксвагенов. В 1948 г. немецким гражданам было продано почти 15 тысяч авто, в
                    то время как иностранцам – 50 тысяч. Через несколько месяцев, в сентябре 1949 г., завод Volkswagen
                    был полностью передан Федеративной Республике Германии (ФРГ). Это событие ознаменовало собой начало
                    мощного толчка в развитии производства фальксвагенов. Volkswagen Beetle стал самым продаваемым
                    автомобилем уже в 1972 г. </p>

                <p>
                    К 1950 г. было выпущено 100 тысяч автомобилей, к 1951 г. – полмиллиона машин. В 1955 г. состоялась
                    торжественная церемония по случаю выпуска миллионного VW 2. Девизом того времени в жизни немцев
                    стала популярная фраза, связанная с Volkswagen, – «Он член моей семьи».

                    В 1965 г. Volkswagen AG выкупила у концерна Daimler-Benz компанию Audi, создав концерн
                    Volkswagen-Audi Group, известный под аббревиатурой VAG. Позднее в него вошли испанская фирма SEAT и
                    чешский завод Skoda. В настоящее время Audi AG – дочерняя компания концерна Volkswagen AG, которой
                    предоставлена полная самостоятельность.

                    Родоначальником нового поколения автомобилей VW считается переднеприводный VW Passat, выпущенный в
                    1973 г. Он предлагался в многочисленных вариантах с двигателями рабочим объёмом от 1297 до 1588 куб.
                    см.
                </p>
            </div>
            <div class="col-md-12">
                <p>
                    1974 г. ознаменовался появлением спортивного VW Scirocco с трёхдверным кузовом купе и моторами
                    объёмом от 1093 до 1588 куб. см., а также компактного трёх- и пятидверного хэтчбека VW Golf.
                    Модель
                    отличалась не только своими компактными габаритами, но и неплохим сочетанием удобства,
                    динамичности
                    и лёгкости, что позволило ей стать новым лидером продаж на немецком автомобильном рынке. За
                    первые
                    30 месяцев выпуска с конвейера сошёл 1 миллион машин VW Golf, превратив Volkswagen AG в одного
                    из
                    крупнейших изготовителей автомобилей в Европе.

                    Также в 1974 г. завод в Вольфсбурге прекратил выпуск модели Фольксваген Жук, но их производство
                    продолжили заводы марки «Фольксваген» в Бразилии и Мексике.

                    Модель VW Golf I, появившаяся в 1974 г., оказалась наиболее удачной. Современная, экономичная,
                    надёжная, именно такая модель могла расшевелить международный рынок.
                </p>
            </div>
            <div class="col-md-8">
                <p>
                    В 1975 г. на волне успеха Гольфа, была представлена так и его упрощенная модификация – Фольксваген
                    Поло,
                    под капотом которой располагался силовой агрегат мощностью 40 лошадиных сил. Кроме того, в 1976 г.
                    на
                    базе Ауди 50 была разработана и версия Фольксваген Поло в кузове седан.

                    В 1979 г. появился кабриолет VW Golf, неизменно пользовавшийся высоким спросом.
                </p>
                <p>
                    В 1983 г. началось обновление модельного ряда концерна «Фольксваген», автомобилистам было
                    представлено
                    новое поколение спортивной модели Фольксваген Сирокко, под капотом которой расположились моторы
                    мощностью от 120 до 200 лошадиных сил. и увидел свет VW Golf II. Восемь лет спустя, в 1991 г.,
                    дебютировал VW Golf III, который, как и предыдущие модели, поддержал высокую репутацию VW Golf. За
                    двадцать три года с начала выпуска было выпущено 17 миллионов VW Golf трёх поколений. В 1995-1996
                    гг. VW
                    Golf III лидировал по числу продаж в Европе. В 1997 г. состоялся дебют нового VW Golf IV.

                    В 1988 г. была представлена модель Фольксваген Коррадо, которая заняла место модели Сирокко в числе
                    актуальных автомобилей компании, а сама Сирокко была снята с производства. Успешные финансовые
                    показатели и стабильно высокие продажи автомобилей концерна «Фольксваген» позволили руководству
                    вновь
                    задуматься о приобретении нового подразделения, которое бы помогло немецкой марке занять новые ниши
                    на
                    автомобильном рынке. Под контроль концерна «Фольксваген» попадает именитая марка «Порше» (до 2007
                    г).
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.2.img %}" width="300px">
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.3.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>Переломным моментом в истории немецкого концерна «Фольксваген» стал 1998 г., когда под контроль
                    одного из крупнейших автопроизводителей мира перешли сразу три марки премиальных автомобилей –
                    «Бентли», «Ламборгини» и «Бугатти». Через год под контроль «Ауди», которая стала независимым
                    подразделением марки «Фольксваген», был передан бренд «Ламборгини», получивший серьёзную техническую
                    базу для выпуска новых спорткаров. Марке «Бентли» в новой иерархии немецкого концерна была отведена
                    доля одного из крупнейших игроков на рынке роскошных автомобилей, благодаря тому, что помимо всего
                    имущества английской марки, под контроль «Фольксваген» также попали производственные мощности фирмы
                    «Роллс-Ройс». Началось производство целого ряда автомобилей, которые без лишней скромности стали
                    именовать машинами для миллионеров.
                </p>
                <p>
                    При этом, наиболее сложная задача была поставлена перед французской маркой «Бугатти», инженерам
                    которой было поручено в 2000 г. создать самый мощный и быстрый автомобиль в истории, используя все
                    самые последние разработки фирмы «Ауди». Через пять лет глава под названием Бугатти Вейрон была с
                    триумфом вписана в историю немецкого концерна, а автомобиль с силовым агрегатом мощностью в одну
                    тысячу лошадиных сил стал первым в истории гиперкаром, установив целый ряд рекордов скорости.

                    С 2002 г. стал производиться Volkswagen Touareg. В настоящее время автомобиль выпускают на заводе
                    Volkswagen в Братиславе. Touareg стал вторым внедорожником в истории марки после Volkswagen 181
                    «Kurierwagen». Гоночные прототипы модели Фольксваген Туарег завоевали первые места в гонках
                    Париж-Дакар 2009-2011 гг., вытеснив более опытных конкурентов с лидирующих позиций.</p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.4.img %}" width="300px">
            </div>
            <div class="col-md-8">
                <p>C 2006 г. компания начала выпуск купе-кабриолетов VW EOS, а в 2007 г. появился кроссовер VW Tiguan
                    который выпускается в трёх комплектациях: Trend&Fun, Sport&Style, Truck&Field. Также в 2007 г.
                    появились VW Touareg и VW Golf Variant новых поколений. Ещё обновились две модели: GolfPlus и Touran
                    которые теперь называются VW CrossGolf и VW CrossTouran соответственно.

                    К 2012 г. все автомобили концерна «Фольксваген» были модернизированы, а общее число рынков сбыта
                    достигло 150. Кроме того, компания активно инвестирует средства в развитие своего бизнеса на
                    территории Китая, третьего по масштабам автомобильного рынка мира.
                </p>
                <p>
                    В 2013 г. был выпущен Volkswagen e-Golf – электрическая версия хэтчбека класса «С». Это самая
                    экологичная версия в истории модели Гольф. Автомобиль оснащён климат-контролем с возможностью
                    подогрева и охлаждения на стоянке, мультимедийной системой с навигацией, обогревом лобового стекла и
                    светодиодным головным светом. Volkswagen Golf GTE – переднеприводный хэтчбек класса «С» с гибридной
                    силовой установкой.

                    Мировая премьера модели состоялась на автосалоне в Женеве в марте 2014 г. В движение Volkswagen Golf
                    GTE приводит силовая установка, состоящая из 150-сильного турбированного бензинового мотора рабочим
                    объёмом 1,4 литра и электромотора мощностью 102 л. с.</p>
            </div>
        </div>

        <div class="row mt-5">
            <h3>Блестящие успехи в настоящем и отличные перспективы в будущем</h3>
            <hr>
            <div class="col-md-8">
                <p>
                    В настоящее время концерн «Фольксваген» обрёл статус самого крупного продавца автомобилей в мире,
                    отодвинув на второе место лидера последних лет Toyota. Финансовое положение концерна Volkswagen
                    является благоприятным. Сейчас немецкая компания продает 10 млн автомобилей, а рентабельность по
                    прибыли до налогов составляет 8%. Планируется инвестировать почти $80 млрд в 10 новых заводов (7 из
                    них – в Китае) и десятки новых продуктов от SUV до автомобилей стоимостью $9000 для развивающихся
                    рынков, а также в новые технологии вроде съёмных гибридных двигателей и продвинутых
                    информационно-развлекательных систем на борту автомобиля.
                </p>
                <p>
                    Сегодня Вольфсбург, рождённый в 1938 г. благодаря Фольксвагену, имеет население 123 тыс. человек и
                    может по праву называться Volkswagen City: здесь расположен завод площадью 6,8 кв. км, на котором
                    заняты 50 000 рабочих, и тринадцатиэтажная штаб-квартира. Влияние компании чувствуется везде: от
                    проводимых здесь культурных фестивалей, спонсируемых Volkswagen, до стадиона Volkswagen Arena,
                    который является домашним для футбольной команды Вольфсбурга. Даже гостиница Ritz-Carlton, где
                    останавливаются высокопоставленные гости, принадлежит автомобильному концерну.
                </p>
            </div>
            <div class="col-md-4">
                <img src="{% static img_array.5.img %}" width="300px">
            </div>
        </div>

    </div>
    {#    <h5 class="card-title text-center">История BMW</h5>#}
    {#    <p class="card-text">История BMW</p>#}
{% endblock %}